* {
  font-family: Arial, sans-serif;
}

body {
  color: #000;
  background-color: #fbf2e9;
}

.hidden {
  display: none !important;
}

#currentWeather,
#dailyWeather .dayWeather {
  padding: 2vw;
}

#currentWeather {
  display: inline-block;
  border-radius: 5%;
  margin: 2vh;
}

#dailyWeather {
  margin: 2vh;
  margin-top: 3vh;
}

#dailyWeather .dayWeather {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#dailyWeather .dayWeather * {
  margin: 8px;
}

#dailyWeather .dayWeather *:nth-child(1) {
  font-size: 21px;
  font-weight: bold;
}

#dailyWeather .dayWeather *:nth-child(2) {
  font-weight: bold;
}

#dailyWeather .dayWeather *:nth-child(3) {
  -webkit-filter: drop-shadow(1px 1px 0 #7cacd8) drop-shadow(-1px -1px 0 #7cacd8) drop-shadow(-1px 1px 0 #7cacd8) drop-shadow(1px -1px 0 #7cacd8);
          filter: drop-shadow(1px 1px 0 #7cacd8) drop-shadow(-1px -1px 0 #7cacd8) drop-shadow(-1px 1px 0 #7cacd8) drop-shadow(1px -1px 0 #7cacd8);
}

#dailyWeather .dayWeather *:nth-child(4) {
  font-size: 24px;
  font-weight: bold;
}

#currentWeather,
#dailyWeather .dayWeather {
  border: 1px solid #aaa;
}

#dailyWeather .dayWeather:first-child {
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}

#dailyWeather .dayWeather:last-child {
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}
